<ul>
  <li><%= link_to "Главная", root_path %></li>
</ul>

<main>
    <h1>Диана Машкина</h1>
    <h2>Начинающий Rails-разработчик</h2>
    <hr>
    <section>
        <h2>Ключевые навыки:</h2>
        <ul>
            <li>Ruby On Rails</li>
            <li>Ruby</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>Dart/Flutter</li>
            <li>Git</li>
        </ul>
    </section>
    <section>
        <h2>О Обо мне</h2>
        <p>Есть опыт коммерческой разработки в команде на Laraver/React. В последнем проекте была fullstack разработчиком. 
        </p>
    </section>
</main>